@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body{
  color: #666;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{
  color: #333;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.navbar{
  margin-bottom: 0;
  z-index: 1;
}
.nav-top{
  min-height: 50px;
  background-color: #ccc;
}
.navbar-nav > li{
  margin-right: 30px;
}
.topHeader h4{
  font-weight: 700;
  color: #fff;
}
.dashboardNav{
  width: 250px;
}
.logoHeader img{
  width: 150px
}
.dashboardMenu{
  padding-top: 30px;
}
.nav-pills > li{
  margin-bottom: 20px;
}
.nav-pills > li > a{
  font-weight: 600;
  color: #9BCC34;
}
.navs > li > a.home{
  padding: 10px;
  display: block;
}
.navs > li > a .fa{
  font-size: 30px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
  background-color: #9BCC34;
}
.subjTabs .nav > li > a{
  min-width: 100px;
  text-align: center;
  margin-right: 20px;
}
.cycle-slideshow img{
  width: 100%;
}
.logins{
  position: relative;
}
.logins > a{
  font-weight: 600;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
  background: #AB0E15;
  color: #fff;
}
.loignForm ul{
  margin-bottom: 0
}
.loginHref{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.v-top{
  vertical-align: top;
}
.color-red{
  color: red;
}
.logoutHref{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.loignForm{
  width: 200px;
  padding: 10px;
  background: #f0f0f0;
  position: absolute;
  border-radius: 5px;
  right: 0;
  top: 100%;
  margin-top: 10px;
  z-index: 101;
  box-shadow: 0 0 20px #333;
  display: none;
}
.btn-secondary,
.btn-primary{
  box-shadow: 0;
  background: #9BCC34;
  font-weight: 600;
  border: 1px solid #9BCC34;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.btn-secondary{
  background: #AB0E15;
  border: 1px solid #AB0E15;
}
.btn-secondary:hover{
  background: #9BCC34;
}
.btn-primary:hover{
  background: #666;
  border: 1px solid #666;
}
.loignForm:before{
  content: "";
  position: absolute;
  display: block;
  right: 10px;
  bottom: 100%;
  border-bottom: 10px solid #f0f0f0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.loignForm label{
  display: block;
  margin: 0;
  font-size: 12px;
}
.loignForm li{
  margin-bottom: 5px;
  line-height: normal;
}
.loignForm input{
  height: 30px;
  padding: 0 0 0 10px;
}
.loignForm .btn-primary{
  margin-top: 5px;
  padding: 0 10px;
}
.registerForm{
  padding: 10px 25px;
  background: #ddd;
  border-radius: 10px;
}
.registerForm h3{
  color: #AB0E15;
  margin: 5px 0 20px;
}
.pageContent{
  padding: 45px 0;
}
.pageContent p{
  /*font-size: 15px;*/
  line-height: 26px;
}
.pageTitle{
  font-size: 36px;
  margin: 0 0 25px;
}
.pageContent p{
  margin-bottom: 25px;
}
.contentTitle{
  font-size: 18px;
  margin: 0 0 20px;
  font-weight: 600;
}
.features{
  background: #f0f0f0;
  padding: 40px 0;
}
.subTitles,
.featureContent h4{
  font-size: 22px;
}
.connectContent{
  border: 1px solid #ddd;
  padding: 20px 30px;
  border-radius: 20px;
  margin-top: 35px;
}
.connect hr{
  border-color: #ccc;
  width: 80%;
  margin: 10px 0;
}
.connect .fa{
  font-size: 36px;
  margin-right: 10px;
}
.fa-facebook-square{
  color: #3B579D;
}
.fa-twitter-square{
  color: #28A9E0;
}
.fa-google-plus-square{
  color: #D95232;
}
.blogContainer{
  background: #ccc;
}
.blogContainer h3,
.blogContainer h4{
  color: #666;
  margin: 20px 0;
}
.blogHeading{
  position: relative;
  padding: 50px 0;
}
.blogHeading:after,
.blogHeading:before{
  content: "";
  top: 50%;
  background: #fff;
  position: absolute;
  left: 100%;
  margin-top: -50px;
  width: 3px;
  height: 100px;
}
.blogHeading:before{
  height: 0;
  width: 0;
  border-left: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  background: transparent;
  top: 83px;
  margin-top: 0;
  margin-left: 3px;
}
.blogContainer .blogLink{
  margin-top: 75px;
  text-align: center;
}
.blogContainer .blogLink a{
  color: #fff;
  text-decoration: underline;
}
.footer{
  background: #333;
  padding: 30px 0;
}
.footer ul{
  margin: 0
}
.footer li{
  padding: 0 10px;
}
.footer h5,
.footer a{
  color: #aaa;
  margin: 0;
}
/*kitabee starts*/

.brand{
  display: block;
  width: 120px;
}
.brand img{
  width: 100%;
}
.topHeader{
  background: #9bcc34;
  padding: 10px 0;
}
.logoHeader{
  padding: 10px 0;
}
.navs{
  line-height: 105px;
  margin-bottom: 0;
}
.navs > li{
  margin-left: 30px;
}
.navs li > a{
  color: #666;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}
.navs li > a:hover{
  padding: 10px;
  background: #9BCC34;
  border-radius: 4px;
  color: #fff;
}
.loginMenu{
  position: relative;
}
.navs .loginMenu > a{
  background-color: #9BCC34;
  color: #fff;
  width: 58px;
  text-align: center;
  border-radius: 3px;
}
.navs .loginMenu > a.logoutLink{
    background-color: #D21212;
}
.banner{
  background: #eee;
  position: relative;
}
.banner .container{
  position: relative;
}
.bannerNav{
  position: absolute;
  top: 50%;
  z-index: 101;
  left: 20px;
  right: 20px;
  margin-top: -29px;
}
.bannerNav a{
  display: block;
  width: 36px;
}
.secNav a span{
  display: block;
  font-size: 20px;
  color: #666;
  margin-top: 15px;
}
.secNav a{
  display: inline-block;
}
.secNav ul{
  margin-bottom: 0;
}
.secNav{
  margin: 60px 0;
  padding: 10px 0;
}
.secNav .container {
  box-shadow: 0 0 15px #ccc;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.impUpdates{
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  padding: 20px 25px;
  background-size: 100% 100%;
}
.subjTabs{
  padding: 20px 0;
}
.subjTabs h4,
.impUpdates h4{
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
}
.subjTabs p,
.impUpdates p{
  color: #333;
  line-height: 26px;
  text-align: justify;
  font-weight: 600;
}
.subjectContentInfo .btn-primary{
  padding: 3px 10px;
}
.introSection{
  margin-bottom: 60px;
}
.footer a{
  color: #ececec;
}
.footerAddress i{
  width: 10%;
  font-size: 22px;
}
.footerAddress span{
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.footerAddress a{
  text-decoration: none;
  cursor: text;
}
.footerNavs li{
  margin-bottom: 10px
}
.topHeader  ul{
  margin-bottom: 0;
}
.socialHeader .fa{
  font-size: 35px;
}
/*dashboard starts*/
.dashboardWrap{
    position: relative;
    padding-right: 2%;
    width: 100%;
    height: 100%;
}
.sidebarNav{
  position: absolute;
  left: 0;
  background: #f8f8f8;
}
.welcomeStrip{
  background: #f0f0f0;
  padding: 14px 20px;
  border: 2px solid #9BCC34;
}
.welcomeStrip h4{
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.subjectsListLinks a span{
  display: block;
  font-size: 16px;
  color: #666;
}
.subImgContainer{
  margin-bottom: 40px;
  margin-top: 40px;
}
.dashboardTitles{
  font-weight: 600;
}
.subjectData .panel-heading{
  font-size: 20px;
}
.subjectData .panel-heading i{
  margin-right: 10px;
}
.subjectData .panel-body p{
  font-size: 16px;
}
.lessonTableWrap{
  max-height: 400px;
  overflow: auto;
}
.subjectData {
  padding: 25px 0;
  display: none;
}
.dashboardContent{
  margin-left: 250px;
  padding: 25px 0 0 30px;
}
.error{
  color: red;
  padding-top: 10px;
  font-weight: 400;
}
.register{
  color:  white;
}
.footer h6{
  color: #fff;
}
.impUpdatesList{
  padding-left: 25px;
}
.impUpdatesList li{
  margin-bottom: 15px;
}
.impUpdatesList li a{
  color: #333;
}
/*updatesSection starts*/
.updatesSection{
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.contactDetails{
  border: 2px solid #9bcc34;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background: #f8f8f8;
}
.img-question{
   height: 300px;
   width: 100%;
}
.bottom-60{
    height: 60px;
}